<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart Cradle App</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<nav class="navbar" style="background-color: #333;">
			<div class="container-fluid">
				<a class="navbar-brand" href="#" style="color: #EEE;">
					Smart Cradle
				</a>
			</div>
		</nav>

		<div class="p-2 mb-4 bg-light rounded-3">
			<div class="container-fluid py-5">
				<h5 class="display-6 fw-bold text-center">스마트 요람</h5>
				<p class="col-md-8 fs-6">스마트 요람의 기능을 확인 할 수 있는 데모 서비스입니다. 버튼을 눌러 실시간 아이의 상태를 확인하세요.</p>
			</div>
		</div>
		<div class="container text-center">
			<img src="img.jpeg" alt="img">
		</div>
		<div class="pt-3">
			<div class="w-100 text-center my-3">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-lg btn-outline-success" style="height: 50px; width: 320px;" data-bs-toggle="modal" data-bs-target="#cryModal" v-on:click="load_Cry()">
					아기 울음 원인 분석
				</button>
			</div>
			<div class="w-100 text-center my-3">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-lg btn-outline-success" style="height: 50px; width: 320px;" data-bs-toggle="modal" data-bs-target="#poseModal" v-on:click="load_Pose()">
					아기 자세 확인하기
				</button>
			</div>
		</div>
		<!-- Cry Modal -->
		<div class="modal fade" id="cryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cryModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="cryModalLabel">아기 우는 이유 확인하기</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="load_Cry()"></button>
					</div>
					<div id="top1" class="modal-body">
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">시간</th>
									<th scope="col">아기가 운 이유</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item, i) in cry">
									<th scope="row">{{cry.length - i}}</th>
									<td>{{item.date}}</td>
									<td v-if="item.reason == 'diaper'"><span class="badge rounded-pill text-bg-danger">기저귀를 갈아주세요!</span></td>
									<td v-if="item.reason == 'awake'"><span class="badge rounded-pill text-bg-info">아기가 일어났어요!</span></td>
									<td v-if="item.reason == 'hug'"><span class="badge rounded-pill text-bg-info">아기를 안아주세요</span></td>
									<td v-if="item.reason == 'hungry'"><span class="badge rounded-pill text-bg-primary">아기가 배고파요</span></td>
									<td v-if="item.reason == 'sad'"><span class="badge rounded-pill text-bg-danger">아기가 슬퍼요</span></td>
									<td v-if="item.reason == 'sleepy'"><span class="badge rounded-pill text-bg-secondary">아기가 졸려요</span></td>
									<td v-if="item.reason == 'uncomfortable'"><span class="badge rounded-pill text-bg-warning">아기가 불편해요</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary">새로고침</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Pose Modal -->
		<div class="modal fade" id="poseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="poseModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="poseModalLabel">Modal title</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Understood</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const { createApp, ref } = Vue
		createApp({
			setup() {
				
			},
			data() {
				return {
					ip: "172.19.0.159",
					port: "8080",
					cry: [
						{"date": "loading...", "reason": ".."},
						{"date": "loading...", "reason": ".."}
					],
					pose: {
						front: 1
					}
				}
			},
			methods: {
				load_Cry() {
					axios.get('http://'+this.ip+':'+this.port+'/cry')
						.then(response => {
							this.cry = response.data.cry;
							new bootstrap.ScrollSpy(document.body, {
								target: '#top1'
							})
							console.log(this.cry)
						})
						.catch(error => {
							console.error('There was an error!', error);
						});
				},
				load_Pose() {
					axios.get('http://'+this.ip+':'+this.port+'/pose')
						.then(response => {
							this.pose = response.data.pose;
							new bootstrap.ScrollSpy(document.body, {
								target: '#top2'
							})
							console.log(this.pose)
						})
						.catch(error => {
							console.error('There was an error!', error);
						});
				}
			},
		}).mount('#app')
	</script>
</body>
</html>
